
<div class="sidebar">
  <i class="fa fa-2x fa-bell" 
     title="Recently Added" 
     [class.selected]="doFilterRecent"
     (click)="doFilterRecent = !doFilterRecent; filterRecent.next(doFilterRecent)"></i>
</div>

<div class="md-content content">
  <md-input-container style="width: 100%">
    <input md-input placeholder="Search" [ngModel]="searchTerm | async" (ngModelChange)="searchTerm.next($event)">
  </md-input-container>


  <div class="flex-grid">
    <md-card *ngFor="let bookmark of (filteredRecentBookmarks | async); trackBy: id"
              class="cell">
      <bookmark [bookmark]="bookmark"></bookmark>
    </md-card>
  </div>
</div>
